* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #4e4322;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #4e4322;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 999;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: #eee5e5;
}

.logo span {
  color: #f4d26a;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #eee5e5;
    font-weight: 600;
}

.wa-btn {
    background: #25D366;
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('img/bg\ 1.jpg') center/cover no-repeat;
    padding-top: 80px;
}

.hero .overlay {
    background: rgba(0,0,0,0.45);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 20px 60px;
}

.hero h1 {
    font-size: 5.5rem;
    font-weight: 700;
}

.hero h1 span {
  color: #f4d26a;
}

.hero p {
    margin-top: 10px;
    font-size: 2.2rem;
    max-width: 500px;
}

/* SECTION DIVIDER */
.section-divider {
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, transparent, #4e4322);
}

/* PRODUK */
.produk-section {
    text-align: center;
    padding: 100px 40px;
    color: #fff;
}

.produk-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.produk-card {
    width: 380px;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.produk-card img {
    width: 100%;
    border-radius: 12px;
}

/* ABOUT SECTION */
.about-section {
  padding: 100px 40px;
  color: #fff;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text h2{
  font-size: 2rem;
}

.about-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    align-items: center;
}

/* CONTACT */
.contact-section {
    padding: 100px 40px;
    text-align: center;
}

.contact-container {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.map-box iframe {
    width: 450px;
    height: 350px;
    border-radius: 12px;
}

.contact-form {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact-form button {
    background: #f4d26a;
    border: none;
    font-weight: 800;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    background: #f4d26a;
    font-weight: 600;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.social-icons img {
    width: 32px;
    filter: brightness(0.2);
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.15);
    filter: brightness(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .hero .overlay {
        padding: 20px 25px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .nav-links {
        gap: 15px;
    }
}